<div class="header-container">
    <!-- Logo Container -->
    <div class="logo-container">
        <img class="logo" src="assets/images/flamsofticontrans.png" alt="logo">
        <a href=""><img src="https://i.ibb.co/pRxRwNk/FSLT1K.png" alt="logo"></a>
    </div>

    <!-- Hamburger Menu Icon -->
    <div class="hamburger" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Navigation -->
    <nav class="header-nav" [class.active]="isMenuOpen">
        <a href="">Home</a>
        <a href="/about">Over Ons</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>
</div>