<div class="about-container animate-on-scroll">
    <section class="intro">
      <div class="intro-content">
        <h1>Ontmoet FlamSoft</h1>
        <p>
          Mijn naam is Joran Schols, gedreven softwareontwikkelaar en oprichter van FlamSoft. Met jarenlange ervaring in enterprise-applicaties, maatwerksoftware en moderne webapplicaties weet ik hoe technologie impact kan maken.
          <br>
          Voor welk softwareproject dan ook, ik ontwikkel met passie en een frisse blik. Naast mijn werk als developer ben ik vader van vier kinderen – een rol die me elke dag uitdaagt om creatief, flexibel en efficiënt te zijn. Die mindset breng ik ook mee in mijn softwareontwikkeling.
        </p>
      </div>
      <div class="intro-image">
        <img src="/assets/images/joran1.jpeg" alt="Team collaboration">
      </div>
    </section>
  
    <section class="mission">
      <h2>Onze missie</h2>
      <p>
        Wij helpen bedrijven groeien met op maat gemaakte software die verder gaat dan alleen functionaliteit – we creëren kansen.
        Van krachtige <strong>.NET</strong> backends tot intuïtieve <strong>Angular</strong> frontends: wij bouwen schaalbare, slimme en visueel overtuigende oplossingen.
      </p>
      <br>
      <img src="/assets/images/flamsofticontrans.png" alt="logo">
    </section>
  
    <!-- <section class="team animate-on-scroll">
      <h2>Maak Kennis met Ons Team</h2>
      <p>
        Ons team bestaat uit gedreven professionals die hun krachten bundelen om u de beste software-ervaring te bieden.
        Van back-end experts tot front-end designers, we hebben de juiste mensen om uw visie werkelijkheid te maken.
      </p>
      <div class="team-gallery">
        <img src="https://i.ibb.co/vxj4RZT/jorans.png" alt="Team Member 1">
      </div>
    </section> -->
    
    <section class="values">
      <h2>Onze waarden</h2>
      <div class="values-grid">
        <div class="value-item">
          <i class="fas fa-lightbulb"></i>
          <h3>Innovatie</h3>
          <p>Wij ontwikkelen slimme en toekomstbestendige software.</p>
        </div>
        <div class="value-item">
          <i class="fas fa-users"></i>
          <h3>Samenwerking</h3>
          <p>Door écht te luisteren, bouwen we software die perfect aansluit.</p>
        </div>
        <div class="value-item">
          <i class="fas fa-cogs"></i>
          <h3>Technische expertise</h3>
          <p>Van complexe uitdagingen maken we elegante oplossingen.</p>
        </div>
        <div class="value-item">
          <i class="fas fa-heart"></i>
          <h3>Passie</h3>
          <p>Softwareontwikkeling zit in ons DNA – en dat zie je terug in elk project.</p>
        </div>
      </div>
    </section>
  
  </div>
  