@import '../../../styles.scss';

.about-container {
//   max-width: 1200px;
  margin: 0 auto;
//   padding: 20px;
}

.hero {
    display: flex;
    background: linear-gradient(to right, $secondary-color 50%, rgba(0, 0, 0, 0)), 
                url('/assets/images/programming.jpg') right center no-repeat;
    background-size: cover; 
    padding: 100px 60px;
    color: white;
    text-align: left;
  
    .hero-content {
      max-width: 50%;
      padding-right: 20px;
    }
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      margin-top: 20px;
      line-height: 1.6;
    }
  }

// Sectie stijlen
.section {
  padding: 80px 60px;
  margin-bottom: 60px;
}

.what-we-do {
  background-color: $light-gray;
  text-align: right;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: $secondary-color;
  }
  p {
    // max-width: 800px;
    margin-left: 50%;
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
  }
}

.why-us {
    background-color: $secondary-color;
    text-align: center;
    color: white;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 15px;
        font-size: 1.2rem;
        margin-top: 20px;
        line-height: 1.6;
        &:before {
          content: '✔';
          color: $accent-color;
          margin-right: 10px;
        }
      }
    }
  }

.approach {
  background: linear-gradient(to right, $light-gray 30%, rgba(0, 0, 0, 0)), 
              url('/assets/images/programming2.jpg') right center no-repeat;
  background-size: cover; 
  text-align: left;

  h2 { 
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  p {
    max-width: 800px;
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
  } 
}

.cta {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  padding: 60px 20px;

  p {
    font-size: 1.4rem;
  }

  a {
    color: $accent-color;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
      color: lighten($accent-color, 10%);
    }
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.2s;
}
