<div class="projects-container animate-on-scroll">
    <section class="projects-intro">
        <div class="projects-content">
            <h1>Onze Projecten</h1>
            <p>
                Bij FlamSoft bouwen we software die werkt. Of het nu gaat om intuïtieve webapplicaties, krachtige bedrijfstools of innovatieve ontwerpen, wij helpen bedrijven en ondernemers hun digitale ambities waar te maken. Hieronder een greep uit onze recente projecten.            </p>
        </div>
    </section>
    
    <section class="projects-showcase">
        <h2>Uitgelichte Projecten</h2>
        <div class="projects-grid">
            <div class="project-item">
                <img src="/assets/images/pvdbproject.png" alt="Project 1">
                <h3>Praktijk van der Boom</h3>
                <p>Een professionele en toegankelijke website voor een psychologenpraktijk, met een helder ontwerp dat vertrouwen uitstraalt. De site bevat uitgebreide informatie over behandelingen, een gebruiksvriendelijk afsprakensysteem voor zowel cliënten als verwijzers.</p>
            </div>
            <div class="project-item">
                <img src="/assets/images/ss2dproject.png" alt="Project 2">
                <h3>Sketch Studio 2d</h3>
                <p>Een krachtige, intuïtieve 2D-ontwerptool waarmee gebruikers moeiteloos ruimtes en concepten kunnen schetsen. Ontwerpen kunnen eenvoudig worden geprint of gemaild naar klanten, ideaal voor snelle conceptpresentaties.</p>
            </div>
            <div class="project-item">
                <img src="/assets/images/spacetraderproject.png" alt="Project 3">
                <h3>Space Trader</h3>
                <p>Een strategische trading game waarin je door het zonnestelsel reist om goederen te kopen en verkopen. Bouw je handelsimperium en werk jezelf naar de top in deze spannende ruimte-uitdaging.</p>
            </div>
        </div>
    </section>
    
    <section class="contact-section">
        <p>Wil je weten hoe we ook voor jouw bedrijf een impactvolle softwareoplossing kunnen bouwen? <a [routerLink]="'/contact'" class="contact-link">Neem contact met ons op!</a></p>
    </section>
</div>
