<div class="projects-container animate-on-scroll">
    <section class="projects-intro">
        <div class="projects-content">
            <h1>Onze Projecten</h1>
            <p>
                Bij FlamSoft ontwikkelen we uiteenlopende projecten, van praktische softwareoplossingen tot gebruiksvriendelijke webapplicaties. Hieronder zie je een aantal van onze recente projecten.
            </p>
        </div>
    </section>
    
    <section class="projects-showcase">
        <h2>Uitgelichte Projecten</h2>
        <div class="projects-grid">
            <div class="project-item">
                <img src="/assets/images/pvdbproject.png" alt="Project 1">
                <h3>Praktijk van der Boom</h3>
                <p>Een moderne en gebruiksvriendelijke website voor een GZ-psycholoog, ontworpen om vertrouwen en toegankelijkheid uit te stralen. 
                    De website biedt informatie over behandelingen, een afsprakensysteem en een veilige omgeving voor potentiële cliënten om kennis te maken met de praktijk.</p>
            </div>
            <div class="project-item">
                <img src="/assets/images/ss2dproject.png" alt="Project 2">
                <h3>Sketch Studio 2d</h3>
                <p>Een innovatieve tool waarmee badkamerverkopers snel en eenvoudig ontwerpen kunnen maken in 2d. De ontwerpen kunnen afgedrukt en of gemaild worden naar potentiële klanten.</p>
            </div>
            <div class="project-item">
                <img src="/assets/images/spacetraderproject.png" alt="Project 3">
                <h3>Space Trader</h3>
                <p>Een strategische trading game waarin je door het zonnestelsel reist om goederen te kopen en verkopen. Bouw je handelsimperium en werk jezelf naar de top in deze spannende ruimte-uitdaging.</p>
            </div>
        </div>
    </section>
</div>
